In [1]:
numbers = [1,2,3,4,5]
for i in range(len(numbers)):
    numbers[i] += 1
print(numbers)

[2, 3, 4, 5, 6]

In [2]:
for i in numbers:
    print(i ** 2)

4
9
16
25
36

In [6]:
for i in range(1,9):
    print(i)

1
2
3
4
5
6
7
8

In [7]:
for i in range(1,9):
    if i % 2 == 0:
        print(f'{i} четное')
    else:
        print(f'{i} нечетное')

1 нечетное
2 четное
3 нечетное
4 четное
5 нечетное
6 четное
7 нечетное
8 четное

In [11]:
# Функция enumerate() применяется в случаях, 
# когда необходим счётчик количества элементов в последовательности. 
# Позволяет избавиться от необходимости инициировать 
# и обновлять отдельную переменную-счётчик.
numbers = [1,3,5,7,9]
for i, item in enumerate(numbers): # i-индексб item-значение
    numbers[i] *= 2 # или же numbers[i] = item * 2
numbers

[2, 6, 10, 14, 18]

In [12]:
name = 'John'
for l in name:
    print(l)

J
o
h
n

In [13]:
for _ in range(5):
    print('Привет')

Привет
Привет
Привет
Привет
Привет

In [15]:
person = ('John', 'Bob',32)
for item in person:
    print(item)

John
Bob
32

In [22]:
person = ['John', 'Bob','32']
for i,item in enumerate(person):
    person[i] = item + ' Men'
    print(person)

['John Men', 'Bob', '32']
['John Men', 'Bob Men', '32']
['John Men', 'Bob Men', '32 Men']

In [23]:
persons = [('John',22), ('Bob',32), ('Dave',42)]
len(person)

3

In [24]:
for (name,age) in persons:
    print(f'{name} is {age} years old')

John is 22 years old
Bob is 32 years old
Dave is 42 years old

In [26]:
players = dict(Carlsen = 2842,Caruana = 2822,Mamedyarov = 2801,Ding = 2797,Giri = 2780)

In [27]:
for item in players:
    print(item)

Carlsen
Caruana
Mamedyarov
Ding
Giri

In [28]:
for item in players.items():
    print(item)

('Carlsen', 2842)
('Caruana', 2822)
('Mamedyarov', 2801)
('Ding', 2797)
('Giri', 2780)

In [30]:
for k, v in players.items():
    print(f'{k} has rating {v}')

Carlsen has rating 2842
Caruana has rating 2822
Mamedyarov has rating 2801
Ding has rating 2797
Giri has rating 2780

In [31]:
for v in players.values():
    print(v)

2842
2822
2801
2797
2780

In [34]:
# найдем все сочетания сумма которых даст 0
list1 = [2,4,-5,6,8,-2]
list2 = [-2,-4,5,-6,-8,-2]

pairs = []
for x in list1:
    for y in list2:
        if x + y == 0:
            pairs.append((x,y))
            print(x,y)
print(pairs)

2 -2
2 -2
4 -4
-5 5
6 -6
8 -8
[(2, -2), (2, -2), (4, -4), (-5, 5), (6, -6), (8, -8)]